:root {
  --br-comp-busy-pane-base-background: var(--br-comp-all-overlay-colour);
  --br-comp-busy-pane-base-border-radius: var(--br-comp-all-pane-base-border-radius);
  --br-comp-busy-pane-surface-background: transparent;
  --br-comp-busy-pane-surface-line-height: var(--br-comp-all-pane-surface-line-height);
  --br-comp-busy-area-content-background: var(--br-comp-all-focus-indicator-colour);
  --br-comp-busy-area-content-font-family: var(--br-comp-all-area-content-font);
  --br-comp-busy-area-content-font-weight: var(--br-comp-all-area-content-font-weight);
  --br-comp-busy-area-content-text: var(--br-unit-colour-canvas-text-inverted);
  --br-comp-busy-area-content-font-size:var(--br-unit-font-size-label);
  --br-comp-busy-spinner-colour: var(--br-comp-all-focus-indicator-colour);
  --br-comp-busy-area-content-border-radius: var(--br-comp-all-area-content-border-radius);
}

.br-busy-indicator {
  z-index: 999;
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--br-comp-busy-pane-base-background);
  justify-content: center;
  align-items: flex-start;
  border-radius: var(--br-comp-busy-pane-base-border-radius);
  pointer-events: none;
}
.br-busy-indicator--display-flex {
  display: flex;
}
.br-busy-indicator--unfixed {
  position: absolute;
}
.br-busy-indicator--centred {
  align-items: center;
}
.br-busy-indicator__content {
  line-height: var(--br-comp-busy-pane-surface-line-height);
  width: fit-content;
  padding: 1rem;
  background-color: var(--br-comp-busy-pane-surface-background);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--br-unit-space-4);
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 500px;
}
.br-busy-indicator__text {
  font-family: var(--br-comp-busy-area-content-font-family);
  font-size: var(--br-comp-busy-area-content-font-size);
  font-weight: var(--br-comp-busy-area-content-font-weight);
  color: var(--br-comp-busy-area-content-text);
  background-color: var(--br-comp-busy-area-content-background);
  padding: var(--br-unit-space-3);
  border-radius: var(--br-comp-busy-area-content-border-radius);
  padding-inline: var(--br-unit-space-5);
}
.br-busy-indicator__spinner {
  height: 3rem;
  width: 3rem;
  color: var(--br-comp-busy-spinner-colour);
  display: inline-block;
  background-color: currentColor;
  mask-image: var(--br-svg-quarter-circle-icon);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
@media (forced-colors: active) {
  .br-busy-indicator__spinner {
    background-color: CanvasText;
    color: Canvas;
  }
}
@media (prefers-reduced-motion: reduce) {
  .br-busy-indicator__spinner {
    display: inline-block;
    background-color: currentColor;
    mask-image: var(--br-svg-hourglass-icon);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
}
@media (prefers-reduced-motion: reduce) and (forced-colors: active) {
  .br-busy-indicator__spinner {
    background-color: CanvasText;
    color: Canvas;
  }
}
