.br-busy-indicator {
  z-index: 999;
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--br-comp-all-overlay-colour);
  justify-content: center;
  align-items: flex-start;
  border: var(--br-unit-border-2) solid transparent;
  border-radius: var(--br-unit-radius-2);
  line-height: var(--br-unit-line-height-1);
  pointer-events: none;
}
.br-busy-indicator:focus-visible {
  border-color: var(--br-comp-all-focus-indicator-colour);
}
.br-busy-indicator--display-flex {
  display: flex;
}
.br-busy-indicator--unfixed {
  position: absolute;
}
.br-busy-indicator--centred {
  align-items: center;
}
.br-busy-indicator__content {
  width: fit-content;
  padding: 1rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--br-unit-space-4);
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 500px;
}
.br-busy-indicator__text {
  font-size: var(--br-unit-font-size-label);
  color: var(--br-unit-colour-canvas-text-inverted);
  background-color: var(--br-comp-all-focus-indicator-colour);
  padding: var(--br-unit-space-3);
  border-radius: var(--br-unit-radius-3);
}
.br-busy-indicator__spinner {
  height: 3rem;
  width: 3rem;
  color: var(--br-comp-all-focus-indicator-colour);
  display: inline-block;
  background-color: currentColor;
  mask-image: var(--br-svg-quarter-circle-icon);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
@media (forced-colors: active) {
  .br-busy-indicator__spinner {
    background-color: CanvasText;
    color: Canvas;
  }
}
@media (prefers-reduced-motion: reduce) {
  .br-busy-indicator__spinner {
    display: inline-block;
    background-color: currentColor;
    mask-image: var(--br-svg-hourglass-icon);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
}
@media (prefers-reduced-motion: reduce) and (forced-colors: active) {
  .br-busy-indicator__spinner {
    background-color: CanvasText;
    color: Canvas;
  }
}
