:root {
  --br-svg-power-on-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10.5 10.92a1.5 1.5 0 1 0 3 0V1.5a1.5 1.5 0 0 0-3 0Z'/%3E%3Cpath fill='%23000' d='M1.2 11.53a10.92 10.92 0 0 0 18.52 9.28a10.83 10.83 0 0 0 3.08-9.28a11 11 0 0 0-5.73-8.13A1.5 1.5 0 1 0 15.63 6a8 8 0 0 1 4.2 6a7.84 7.84 0 0 1-2.23 6.73a7.92 7.92 0 0 1-11.2 0A7.83 7.83 0 0 1 4.17 12a8 8 0 0 1 4.19-6a1.5 1.5 0 0 0-1.44-2.6a11 11 0 0 0-5.72 8.13'/%3E%3C/svg%3E");
  --br-svg-power-off-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 3a9 9 0 0 0-9 9a9 9 0 0 0 9 9a9 9 0 0 0 9-9a9 9 0 0 0-9-9m0 16a7 7 0 0 1-7-7a7 7 0 0 1 7-7a7 7 0 0 1 7 7a7 7 0 0 1-7 7m1-2h-2V7h2z'/%3E%3C/svg%3E");
  --br-comp-switch-outline-style: var(--br-comp-all-outline-style);
  --br-comp-switch-outline-width: var(--br-comp-all-outline-width);
  --br-comp-switch-outline-offset: var(--br-comp-all-outline-offset);
  --br-comp-switch-outline-colour: var(--br-comp-all-outline-colour);
  --br-comp-switch-track-border-style: solid;
  --br-comp-switch-track-border-width: var(--br-unit-border-1);
  --br-comp-switch-track-border-colour: var(--br-comp-all-border-interactive-colour);
  --br-comp-switch-on-track-colour: var(--br-unit-colour-primary);
  --br-comp-switch-track-colour: var(--br-comp-all-track-colour);
  --br-comp-switch-track-height: var(--br-unit-space-9);
  --br-comp-switch-thumb-text: var(--br-unit-colour-primary);
  --br-comp-switch-thumb-colour: var(--br-comp-all-thumb-colour);
  --br-comp-switch-thumb-Hover-colour: var(--br-unit-colour-primary-60);
  --br-comp-switch-thumb-hover-shadow: 0 0 10px 5px hsl(from var(--br-unit-colour-primary) h s l / var(--br-unit-opacity-val-30));
  --br-comp-switch-area-content-background: var(--br-comp-all-area-content-background);
  --br-comp-switch-area-content-text: var(--br-comp-all-area-content-text);
  --br-comp-switch-area-content-font-family: var(--br-comp-all-area-content-font-family);
  --br-comp-switch-area-content-font-size: var(--br-unit-font-size-label);
  --br-comp-switch-area-content-font-weight: var(--br-comp-all-area-content-font-weight);
  --br-comp-switch-area-content-line-height: var(--br-comp-all-area-content-line-height);
  --br-comp-switch-disabled-opacity: var(--br-unit-state-disabled-opacity);
}

.br-switch {
  box-sizing: border-box;
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  pointer-events: all;
  font: inherit;
  background-color: transparent;
  color: inherit;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  gap: var(--br-unit-space-4);
}
.br-switch--space {
  justify-content: space-between;
}
.br-switch:focus-visible .br-switch__track {
  outline-style: var(--br-comp-switch-outline-style);
  outline-width: var(--br-comp-switch-outline-width);
  outline-offset: var(--br-comp-switch-outline-offset);
  outline-color: var(--br-comp-switch-outline-colour);
}
.br-switch:has(:focus-visible) {
  outline-style: var(--br-comp-switch-outline-style);
  outline-width: var(--br-comp-switch-outline-width);
  outline-offset: var(--br-comp-switch-outline-offset);
  outline-color: var(--br-comp-switch-outline-colour);
}
.br-switch__label {
  background-color: var(--br-comp-switch-area-content-background);
  color: var(--br-comp-switch-area-content-text);
  font-size: var(--br-comp-switch-area-content-font-family);
  font-size: var(--br-comp-switch-area-content-font-size);
  font-weight: var(--br-comp-switch-area-content-font-weight);
  line-height: var(--br-comp-switch-area-content-line-height);
}
.br-switch__track {
  display: inline-flex;
  position: relative;
  min-width: 44px;
  min-height: var(--br-unit-wcag-target-2a);
  width: calc(var(--br-comp-switch-track-height) * 1.75);
  height: var(--br-comp-switch-track-height);
  border-width: var(--br-comp-switch-track-border-width);
  border-style: var(--br-comp-switch-track-border-style);
  border-color: var(--br-comp-switch-track-border-colour);
  border-radius: var(--br-unit-radius-full);
  background-color: var(--br-comp-switch-track-colour);
}
.br-switch__thumb {
  position: absolute;
  width: calc(var(--br-comp-switch-track-height) * 0.85);
  aspect-ratio: 1/1;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-start: 0.2em;
  background-color: var(--br-comp-switch-thumb-colour);
  color: var(--br-comp-switch-thumb-text);
}
.br-switch__thumb::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  display: inline-block;
  background-color: currentColor;
  mask-image: var(--br-svg-power-off-icon);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-position: center;
}
@media (forced-colors: active) {
  .br-switch__thumb::after {
    background-color: CanvasText;
    color: Canvas;
  }
}
.br-switch[aria-disabled=false]:not(:disabled):hover .br-switch__thumb {
  transform: translateY(-50%) scale(1.1);
  box-shadow: var(--br-comp-switch-thumb-hover-shadow);
}
.br-switch[aria-checked=true] .br-switch__track {
  background-color: var(--br-comp-switch-on-track-colour);
  border-color: transparent;
}
.br-switch[aria-checked=true] .br-switch__thumb {
  inset-inline-start: auto;
  inset-inline-end: 0.2em;
  background-color: var(--br-comp-switch-track-colour);
}
.br-switch[aria-checked=true] .br-switch__thumb::after {
  display: inline-block;
  background-color: currentColor;
  mask-image: var(--br-svg-power-on-icon);
  mask-repeat: no-repeat;
  mask-size: 75% 75%;
  mask-position: center;
}
@media (forced-colors: active) {
  .br-switch[aria-checked=true] .br-switch__thumb::after {
    background-color: CanvasText;
    color: Canvas;
  }
}
.br-switch[aria-disabled=true], .br-switch:disabled {
  cursor: not-allowed;
}
.br-switch[aria-disabled=true] .br-switch__label, .br-switch:disabled .br-switch__label {
  opacity: var(--br-comp-switch-disabled-opacity);
}
.br-switch[aria-disabled=true] .br-switch__thumb, .br-switch:disabled .br-switch__thumb {
  pointer-events: none;
  opacity: var(--br-comp-switch-disabled-opacity);
}
