.default-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    align-items: center;
}

.loading-progress {
    grid-column:1/2;
    grid-row: 1/2;
    display: block;
    width: 8rem;
    height: 8rem;

}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position:relative;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-weight: bold;

}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}


